@tailwind base;
@tailwind components;
@tailwind utilities;

body,
body * {
  transition: background-color 500ms;
}

* {
  box-sizing: border-box;
}

a {
  @apply font-bold text-link;
}

.dark a {
  @apply text-primary;
}

a:hover {
  @apply text-linkHover;
}

.dark a:hover {
  @apply text-primaryHover;
}
